{% extends "base.html" %}

{% block title %} Event {% endblock %}

{% block content %}

<h1> {{ event.name }} </h1>

<p>
    {{ event.description }}
</p>

<ul>
    <li><b>Start Date:</b> {{ event.start_date }}</li>
    <li><b>End Date:</b> {{ event.end_date }}</li>
    <li><b>Category:</b> {{event.category}}</li>
    <li><b>Organiser:</b> <a href={% url 'volunteer:profile' event.organiser_id %}>{{event.organiser_name}} {{event.organiser_surname}}</a></li>

</ul>

{% if event.active %}
<form action={% url 'event:join_event' event.id %} method="post">
    {% csrf_token %}
    <button type="submit" name="send">Participate</button>
</form>
{% endif %}

<h2>Participants</h2>

<ul class="grid-list">
    {%for participant in participants %}
    <li><a href={% url 'volunteer:profile' participant.id %}>{{participant.name}} {{participant.surname}}</a></li>
    {%endfor%}
</ul>

<h2>Tasks</h2>

<ol>
    {%for task in tasks%}
    <li><a href={% url 'volunteer:task' task.id%} style="background-color: {% if task.completed %} MediumSeaGreen {% else %} Tomato {% endif %};">{{task.name}}</a></li>
    {%endfor%}
</ol>

<hr>


{% endblock content %}
