{% extends "base.html" %}

{% load static %}

{% block title %}Management{% endblock %}

{% block content%}

<h2>Recent Transactions</h2>

<h3>Expenses</h3>

<table style="width:100%;">
    <tr>
        <th>Date</th>
        <th>Ammount</th>
        <th>Event</th>
        <th>Reason</th>
    </tr>

    {%for expense in expenses%}
    <tr>
        <td>{{expense.date}}</td>
        <td>${{expense.value}}</td>
        <td><a href={% url 'event:details' expense.event_id %}>{{expense.event_name}}</a></td>
        <td>{{expense.description}}</td>
    </tr>
    {% endfor %}

</table>

<h3>Incomes</h3>

<table style="width: 100%;">
    <tr>
        <th>Date</th>
        <th>Ammount</th>
        <th>Member</th>
        <th>Type</th>
    </tr>

    {% for income in incomes %}
    <tr>
        <td> {{income.date}} </td>
        <td> ${{income.value}} </td>
        <td> {{income.member_name}} {{income.member_surname}} </td>
        <td> {{income.type}} </td>
    </tr>
    {% endfor %}
</table>

<img src="{% static 'report_graph.png' %}" style="border-color: black; border-style: solid; margin-top: 5%">
 

<h2>Management</h2>


<form action={% url 'event:add_expense' %} method="post">
    {% csrf_token %}
    <fieldset>
        <legend><b>Add Expense</b></legend>
        <label for="name">Expense reason:</label>
        <input type="text" id="name" name="description" value="">

        <label for="value">Ammount:</label>
        <input type="number" min="1", max="10000" name="value">
            <br>

        <label for="event">Event:</label>
            <select id="event" name="event">
                {% for event in active_events %}
                    <option value={{event.id}}>{{event.name}}</option>
                {% endfor %}
            </select>
            <br>

        <input type="submit" value="Add Expense">
     </fieldset>
</form>


<form action={% url 'event:add_task' %} method="post">
    {% csrf_token %}
    <fieldset>
        <legend><b>Create Task</b></legend>
    <label for="name">Task name:</label>
        <input type="text" id="name" name="name" value="">
    <label for="event">Event:</label>
        <select id="event" name="event">
            {% for event in active_events %}
                <option value={{event.id}}>{{event.name}}</option>
            {% endfor %}
        </select>
        <br>

    <label for="due">Due date:</label>
        <input type="date" id="due" name="due" value="" min="2010-01-01" max="2099-31-12">

    <label for="difficulty">Difficulty:</label>
    <input type="number" min="1", max="10" name="difficulty">
        <br>

     <input type="submit" value="Add Task">
    </fieldset>
</form>

{% if created_tasks %}
    <form action={% url 'event:task_delete' %} method="post">
        {% csrf_token %}
        <fieldset>
            <legend><b>Delete Task</b></legend>
                <select name="task">
                    {% for task in created_tasks %}
                    <option value={{task.id}}>{{task.name}} ({{task.event_name}})</option>
                    {% endfor %}
                </select>
             <input type="submit" value="Delete Task">
        </fieldset>
    </form>
{% endif %}


<form action={% url 'event:add_team' %} method="post">
        {% csrf_token %}
    <fieldset>
        <legend><b>Create Team</b></legend>
        <label for="name">Team name:</label>
            <input type="text" id="name" name="name" value="">
            <br>
            <label for="description">Description:</label>
            <textarea name="description" rows="2" cols="30"></textarea>
            <br>

            <input type="submit" value="Create Team">

    </fieldset>
</form>


<form action={% url 'event:add' %} method="post">
    {% csrf_token %}
    <fieldset>
        <legend><b>Create Event</b></legend>
    <label for="name">Event name:</label>
    <input type="text" id="name" name="name" value="">
    <br>

    <label for="start">Start date:</label>
    <input type="date" id="start" name="start" value="" min="2010-01-01" max="2099-31-12">
    <br>

    <label for="end">End date:</label>
    <input type="date" id="end" name="end" value="" min="2010-01-01" max="2099-31-12">
    <br>

    <label for="category">Event Category:</label>
    <select id="category" name="category">
        {% for category in event_categories %}
            <option value={{category.name}}>{{category.name}}</option>
        {% endfor %}
    </select>
    <br>

    <label for="description">Event description:</label><br>
    <textarea name="description" rows="3" cols="30"></textarea>
    <br>

    <label for="place">Event location:</label><br>
    <input type="text" name="place"></input>
    <br>

     <input type="submit" value="Add Event">
    </fieldset>
</form>

<form action={% url 'event:add_category' %} method="post">
    {% csrf_token %}
    <fieldset>
        <legend><b>Add Event Category</b></legend>
        <label for="name">Category name:</label>
        <input type="text" id="name" name="name" value="Category Name">

        <input type="submit" value="Add Category">
    </fieldset>
</form>

<hr>

<h3>Employees</h3>

<ul class="grid-list">
{% for employee in employees %}

<li><a href={% url 'volunteer:profile' employee.id %}>{{employee.name}} {{employee.surname}}</a></li>

{% endfor %}
</ul>

{% endblock content%}
