{% load static %}

<html lang="en">
<head>
    <link rel="stylesheet" href="https://latex.now.sh/style.css">
    <link rel="stylesheet" href={% static 'style.css' %}>
    <title>Volunteer Organisation</title>
</head>

<body>
    <div class="navbar">
        <ul>
            <li class="page_title"> {% block title %} {% endblock title %}</li>
            <li><a href="/member">Home</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
            <li><a href="/event">Management</a></li>
        </ul>
    </div>


    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div style="margin-top: 50%">
        {% if user_id %} Logged in as: <a href={% url 'volunteer:profile' user_id %}>{{user_name}} {{user_surname}}</a>{% endif %}
    </div>
</body>
</html>
