<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>{% block title %}My Site{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/member">Member</a></li>
            <li><a href="/volunteer">Volunteer</a></li>
            <li><a href="/event">Event</a></li>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
