{% extends "base.html" %}

{% block title %}Task{% endblock %}

{% block content %}

<h3 {% if task.completed %} style="background-color: MediumSeaGreen; width: max-content;" {% endif %} >Task - {{ task.name }} {% if task.completed %} (Completed) {% endif %}</h3>

<ul>
    <li><b>Event: </b><a href={% url 'event:details' task.event_id %}>{{task.event_name}}</a></li>
    <li><b>Creator: </b><a href={% url 'volunteer:profile' task.creator_id%}>{{task.creator_name}} {{task.creator_surname}}</a></li>
    <li><b>Difficulty: </b> {{task.difficulty}}</li>
    <li><b>Completed: </b> {{task.completed | yesno:"True,False"}}</li>
    <li><b>Due Date:</b> {{task.due_date}}</li>
</ul>

<div style="text-align: center;">
    <form action={% url 'volunteer:task' task.id %} method="post">
        {% csrf_token %}
        <button type="submit" name="send">Join Task</button>
    </form>

    <form action={% url 'volunteer:task_done' task.id %} method="post">
        {% csrf_token %}
        <button type="submit" name="send">Completed</button>
    </form>
</div>

<h4>Volunteers working on this task</h4>

{% for volunteer in working_on %}
<div>
<a href={%url 'volunteer:profile' volunteer.volunteer_id%}>{{volunteer.volunteer_name}} {{volunteer.volunteer_surname}}</a>
</div>
{% endfor %}


{% endblock content %}
