{% extends "base.html" %}

{% block title %}Team: {{team.name}}{% endblock %}

{% block content %}
<h1>Team: {{ team.name }}</h1>

<h2>Info</h2>

{{ team.description }}

<h2>Members</h2>


{% for member in members %}
<li><a href={% url 'volunteer:profile' member.volunteer_id%}>{{ member.name }} {{ member.surname }}</a></li>

{% empty %}

This team has no members!

{% endfor %}

<h2>Tasks</h2>

These are tasks team members are occupied with.

{% for task in tasks %}
<li>{{ task.volunteer_name }} {{ task.volunteer_surname }}: {{task.task_name}}</li>

{% empty %}

No tasks are done by any team members!

{% endfor %}

{% endblock %}
