{% extends "base.html" %}

{% block title %}Team: {{team.name}}{% endblock %}

{% block content %}
<h1>Team: {{ team.name }}</h1>

<h2>Info</h2>

<li>{{ team.description }}</li>

<li>Best Volunteer: {{team.name}}</li>

<h2>Members</h2>


{% for member in members %}
<li><a href={% url 'volunteer:profile' member.volunteer_id%}>{{ member.name }} {{ member.surname }}</a></li>

{% empty %}

This team has no members!

{% endfor %}

<h2>Tasks</h2>

{% for task in tasks %}
<li><a href={% url 'volunteer:profile' task.volunteer_id%}>{{ task.volunteer_name }} {{ task.volunteer_surname }}</a>: <a href={%url 'volunteer:task' task.task_id%}>{{task.task_name}}</a></li>

{% empty %}

No tasks are done by any team members!

{% endfor %}

{% endblock %}
