{% extends "base.html" %}

{% block title %}Team: {{team.name}}{% endblock %}

{% block content %}
<h1>Team: {{ team.name }}</h1>

<h2>Info</h2>

<p>{{ team.description }}</p>

<ul>
    <li><b>Team Manager:</b> 
        {% if team.mgr_id %}
        <a href={% url 'volunteer:profile' team.mgr_id %}>{{ team.mgr_name }} {{team.mgr_surname}}</a>
        {% else %} None {% endif %}
    
    </li>

<li><b>Best Volunteer:</b> {{team.best_volunteer}}</li>
</ul>

<div style="text-align: center;">
<button> <a href={% url 'volunteer:team_join' team.name %}>Join Team</a> </button>

<button> <a href={% url 'volunteer:team_leave' team.name %}>Leave Team</a> </button>
</div>

<h2>Members</h2>

<ul>
{% for member in members %}
<li><a href={% url 'volunteer:profile' member.volunteer_id%}>{{ member.name }} {{ member.surname }}
        {% if not member.active %}(Inactive){% endif %}
    </a></li>

{% empty %}

This team has no members!

{% endfor %}
</ul>

<h2>Tasks</h2>
<ul>
    {% for task in tasks %}
        <li><a href={% url 'volunteer:profile' task.volunteer_id%}>{{ task.volunteer_name }} {{ task.volunteer_surname }}</a>: <a href={%url 'volunteer:task' task.task_id%}>{{task.task_name}}</a></li>

        {% empty %}

        No tasks are done by any team members!
    {% endfor %}
</ul>

{% endblock %}
