{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<ul>
    <li><b>Name</b>: {{volunteer.name}} {{volunteer.surname}}</li>
    <li><b>Join Date</b>: {{volunteer.join_date}}</li>
    <li><b>Tasks Working On</b>: {{volunteer.tasks_working_on}}</li>
    <li><b>Favorite Category</b>: {{volunteer.favorite_event_category}}</li>
</ul>

<h3>Current Tasks</h3>

{% for task in tasks %}
<li><a href={%url 'volunteer:task' task.task_id%}>{{task.task_name}}</a></li>

{%empty%}
No tasks!
{% endfor %}

<h3>Teams</h3>

{% for team in teams %}
<li><a href={%url 'volunteer:team' team.name%}>{{team.name}} {% if not team.active %}(Inactive){% endif %}</a></li>

{%empty%}
No teams joined!
{% endfor %}

<h3>Organised Events</h3>

{% for event in organised_events %}
<li><a href={%url 'event:details' event.id%}>{{event.name}}</a></li>

{%empty%}
No events!
{% endfor %}



{% endblock content %}
