@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

:root {

  --main-color: black;
  --bg-color: #E6E6E6;

  --text-color: black;
  --pop-color: black;
  --alt-color: #5D7E90;
  --light-alt-color: #505B61; 

}

body { background-color: var(--bg-color); color: var(--main-color); margin: 0 auto; width: 90%; max-width: 700px; line-height: 1.4em; font-size: 1.1em; }

button {
  --pad: 30px;
  background-color: var(--bg-color);
  padding-right: var(--pad);
  padding-left: var(--pad);
}

a {
  text-decoration: none;
}

.navbar {
  display: block;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 1em;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

li a{
  font-size: 0.9em;
  color: var(--text-color);
}

li a:hover{
  text-decoration: none;
  color: var(--bg-color);
  background-color: var(--main-color);
}

.navbar { border-top: solid 1px var(--main-color);  border-bottom: solid 1px var(--main-color);  margin-bottom: 25px; }
.navbar ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.navbar ul li { display: inline;  margin-left: 10px; }
.navbar ul li a { text-decoration: none;  color: var(--text-color); }
.navbar ul li a:hover { text-decoration: none; color: var(--bg-color); background-color: var(--main-color); }
.navbar ul li.page_title { text-align: left; margin-left: 10px; float: left; font-weight: bold; color: var(--main-color) }

table, th, td {
  border:1px solid black;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
